<a href="/"><button>geri</button></a>
<a href="/thirdpage"><button>ileri</button></a>
<h1>Hakkımızda</h1>
<h2>Merhaba! Biz, yazılım dünyasına adım atmış genç ve dinamik bir ekibiz. Teknolojiyi seviyoruz ve bu sevgiyi projelerimize yansıtarak yenilikçi çözümler geliştirmeyi amaçlıyoruz.

    Yazılım sektörüne yeni başlayan biri olarak, sürekli öğrenme ve gelişim felsefesiyle hareket ediyoruz. Modern teknolojilere, en iyi uygulama standartlarına ve kullanıcı odaklı yaklaşımlara olan tutkumuz, projelerimizin kalitesini artırmamıza yardımcı oluyor.
    
    Her bir proje, bize yeni bir öğrenme fırsatı sunuyor ve bu süreçte edindiğimiz bilgileri, siz değerli müşterilerimize en iyi hizmeti sunmak için kullanıyoruz. Hedefimiz, yazılım geliştirme sürecini şeffaf ve etkili bir şekilde yönetmek, yaratıcı çözümler sunmak ve her adımda mükemmelliği hedeflemektir.
    
    Eğer siz de teknolojiyi yakından takip eden, yenilikçi ve çözüm odaklı bir ekiple çalışmak istiyorsanız, bize katılın! Sizinle birlikte büyük başarılara imza atmayı dört gözle bekliyoruz.</h2>
    