<a href="/secondpage"><button>geri</button></a>
<a href="/fourthpage"><button>ileri</button></a>

<h1>ürün linkleri</h1>
<a href="https://www.sadikturan.com/html/html-resim-ekleme/1132"><button>sadikturan.coom</button></a>
<a href="https://www.kodkampusu.com/html-resim-ekleme/"><button>kod kampüsü</button></a>
<a href="https://www.webcebir.com/60-html-resim-ekleme-dersi.html"><button>web cebir</button></a>
<a href="https://www.technopat.net/sosyal/konu/html-ile-resim-ekleme.729554/"><button>technopat</button></a>







